In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import train_test_split

In [39]:
data = pd.read_csv('iris.csv', names = ("sepal length","sepalwidth","peatallength","petalwidth","class"))
data.head()

   sepal length  sepalwidth  peatallength  petalwidth        class
0           5.1         3.5           1.4         0.2  Iris-setosa
1           4.9         3.0           1.4         0.2  Iris-setosa
2           4.7         3.2           1.3         0.2  Iris-setosa
3           4.6         3.1           1.5         0.2  Iris-setosa
4           5.0         3.6           1.4         0.2  Iris-setosa

In [40]:
Label_encoder = LabelEncoder()
datale = data

In [41]:
datale['class'] = Label_encoder.fit_transform(data['class'])
datale.tail()

     sepal length  sepalwidth  peatallength  petalwidth  class
145           6.7         3.0           5.2         2.3      2
146           6.3         2.5           5.0         1.9      2
147           6.5         3.0           5.2         2.0      2
148           6.2         3.4           5.4         2.3      2
149           5.9         3.0           5.1         1.8      2

In [42]:
X = datale.iloc[:,:4].values
y = datale.iloc[:,4].values

In [43]:
X.shape

(150, 4)

In [44]:
y.shape

(150,)

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [57]:
from sklearn import preprocessing
scalar = preprocessing.StandardScaler()
scalar.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [72]:
#scalar.transform(X_train)

In [73]:
X_test_ = X_test
#scalar.transform(X_test_)

In [61]:
clf = SVC(kernel = "linear", C=1, random_state=0)
clf.fit(X_train, y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [62]:
y_pred = clf.predict(X_test_)

In [76]:
c = accuracy_score(y_test, y_pred)
c

0.9736842105263158